@font-face {
   font-family: 'CormorantGaramond-Italic-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-07-02_172508/fonts/CormorantGaramond-Italic-VariableFont_wght/font.ttf');
}
