@font-face {
   font-family: 'CormorantGaramond-Italic-VariableFont_wght';
   font-display: swap;
   src: url('CormorantGaramond-Italic-VariableFont_wght/font.ttf');
}
@font-face {
   font-family: 'CormorantGaramond-VariableFont_wght';
   font-display: swap;
   src: url('CormorantGaramond-VariableFont_wght/font.ttf');
}
